<main id="main">
  <div class="container p-4">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="col-12 text-center">
          <h1>Cesar`s Seguros</h1>
        </div>
        <p class="col-12 text-center">Nuestro proyecto está diseñado para que
          cuando choques, puedas reportarlo por internet sin tener que esperar a
          que llegue el seguro y poder irte sin ningún problema.
        </p>
      </div>
    </div>
  </div>
</main>