<main id="main">
  <div class="container p-4">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="col-12 text-center">
          <h1>J-MEDIC</h1>
        </div>

            <p class="col-12 text-center" >Nuestro proyecto está diseñado para los médicos que atiendan un consultorio 
              y así disminuir el papeleo de expedientes de los pacientes con la idea de pasar la información de manera
               digital para una mejor visualización. Esperando lograr un buen impacto para un largo plazo poder abarcar más consultorios.</p>


      </div>
    </div>
  </div>
</main>