<main id="main">
  <div class="container p-4">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="col-12 text-center">
          <h1>Iniciar Sesión</h1>
        </div>
        <div class="card text-white card-color mb-1">
          <div class="card-body">
            <form class="row g-3" action="/login" method="post">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label">Usuario</label>
                <div class="input-group">
                  <span class="input-group-text">@</span>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label">Contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  required
                />
              </div>
              <div class="col-12">
                <button class="btn btn-success" type="submit">Ingresar</button>
                <a class="btn btn-danger ms-4" href="/home">Regresar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>