<main id="main">
  <div class="container p-4">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="col-12">
          <h1>Política de privacidad</h1>
        </div>
        <div class="card card-color">
          <div class="card-body">
            <h3>
              La presente Política de Privacidad establece los términos en que
              Cesar`s Seguros usa y protege la información que es proporcionada
              por la persona que está siendo atendida. Esta compañía está
              comprometida con la seguridad de los datos de sus pacientes.
            </h3>
            <h3>Al llenar los campos de información personal con la cual usted
              pueda ser identificado, lo hacemos asegurando que sólo se empleará
              de acuerdo con los términos de este documento.
            </h3>
            <h3>Sin embargo, esta Política de Privacidad puede cambiar con el
              tiempo o ser actualizada por lo que le recomendamos y enfatizamos
              revisar continuamente esta página para asegurarse que está de
              acuerdo con dichos cambios.
            </h3>
            <h3>Cesar`s Seguros está altamente comprometido para cumplir con el
              compromiso de mantener su información segura. Usamos los sistemas
              más avanzados y los actualizamos constantemente para asegurarnos
              que no exista ningún acceso no autorizado.
            </h3>
            {{! <h3>Este aviso de Política de Privacidad es una simulación no tiene
              ningún fin ya que se trata de un proyecto escolar y solo tiene
              finalidad de como aplicaría uno en realidad.
            </h3> }}
          </div>
        </div>
        <div class="col-12 p-1 text-center">
        </div>
      </div>
    </div>
  </div>
</main>