<main id="main">
    <div class="container p-4">
        <div class="row justify-content-around">
            <div class="col-12 text-center">
                <h1>Buscar paciente</h1>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="card text-white card-color mb-3" >
                    <div class="card-body text-center">
                            <h3>Buscar por id</h3>
                        <div class="col-12 text-center">
                            <a class="btn btn-success" href="/api/patients/list/id">Aceptar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="card text-white card-color mb-3">
                    <div class="card-body text-center">
                            <h3>Buscar por teléfono</h3>
                        <div class="col-12 text-center">
                            <a class="btn btn-success" href="/api/patients/list/phone">Aceptar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-3 text-center">
                <a class="btn btn-danger" href="/api/patients">Regresar</a>
            </div>
        </div>
    </div>
</main>