<main id="main">
  <div class="container p-4">
    <div class="row justify-content-around">
      <div class="col-12 text-center">
        <h1>Buscar cita</h1>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="card text-white card-color mb-3">
          <div class="card-body text-center">
            <h3>Buscar por id cita</h3>
            <div class="col-12 text-center">
              <a
                class="btn btn-success"
                href="/api/appointment/list/id"
              >Aceptar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="card text-white card-color mb-3">
          <div class="card-body text-center">
            <h3>Buscar por fecha de cita</h3>
            <div class="col-12 text-center">
              <a
                class="btn btn-success"
                href="/api/appointment/list/date"
              >Aceptar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-3 text-center">
        <a class="btn btn-danger" href="/api/appointment">Regresar</a>
      </div>
    </div>
  </div>
</main>