<main id="main">
    <div class="container p-4">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Buscar doctor</h1>
            </div>
             <center>
            <div class="col-sm-12 col-md-12 col-lg-4">
               
                <div class="card text-white card-color mb-3">
                    <div class="card-body text-center">
                            <h3>Buscar por cedula</h3>
                        <div class="col-12 text-center">
                            <a class="btn btn-success" href="/api/doctor/list/id">Aceptar</a>
                        </div>
                    </div>
                </div>
            </div>
            </center>
            <div class="col-12 p-3 text-center">
                <a class="btn btn-danger" href="/api/doctor">Regresar</a>
            </div>
        </div>
    </div>
</main>