<div class="container p-4">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="col-12">
                <h1>Buscar Doctor</h1>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="col-md-4">
                        <h3>Buscar por Id</h3>
                        <a class="btn btn-primary" href="/api/doctor/list/id">Aceptar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 p-1">
                <a class="btn btn-primary" href="/api/doctor">Regresar</a>
            </div>
        </div>
    </div>
</div>