<main id="main">
  <div class="container p-4">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Menu</h1>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="card text-white card-color mb-3">
          <div class="card-body text-center">
            <h3>A単adir doctor</h3>
            <div class="col-12 text-center">
              <a class="btn btn-success" href="/api/doctor/add">Aceptar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="card text-white card-color mb-3">
          <div class="card-body text-center">
            <h3>Buscar doctor</h3>
            <div class="col-12 text-center">
              <a class="btn btn-success" href="/api/doctor/list">Aceptar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white card-color mb-3">
          <div class="card-body text-center">
            <h3>Actualizar doctor</h3>
            <div class="col-12 text-center">
              <a class="btn btn-success" href="/api/doctor/update">Aceptar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="card text-white card-color mb-3">
          <div class="card-body text-center">
            <h3>A単adir paciente</h3>
            <div class="col-12 text-center">
              <a class="btn btn-success" href="/api/patients/add">Aceptar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="card text-white card-color mb-3">
          <div class="card-body text-center">
            <h3>Buscar paciente</h3>
            <div class="col-12 text-center">
              <a class="btn btn-success" href="/api/patients/list">Aceptar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white card-color mb-3">
          <div class="card-body text-center">
            <h3>Actualizar paciente</h3>
            <div class="col-12 text-center">
              <a class="btn btn-success" href="/api/patients/update">Aceptar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="card text-white card-color mb-3">
          <div class="card-body text-center">
            <h3>A単adir consulta</h3>
            <div class="col-12 text-center">
              <a class="btn btn-success" href="/api/consults/add">Aceptar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="card text-white card-color mb-3">
          <div class="card-body text-center">
            <h3>Buscar consulta</h3>
            <div class="col-12 text-center">
              <a class="btn btn-success" href="/api/consults/list">Aceptar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white card-color mb-3">
          <div class="card-body text-center">
            <h3>Actualizar consulta</h3>
            <div class="col-12 text-center">
              <a class="btn btn-success" href="/api/consults/update">Aceptar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="card text-white card-color mb-3">
          <div class="card-body text-center">
            <h3>A単adir cita</h3>
            <div class="col-12 text-center">
              <a class="btn btn-success" href="/api/appointment/add">Aceptar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="card text-white card-color mb-3">
          <div class="card-body text-center">
            <h3>Buscar cita</h3>
            <div class="col-12 text-center">
              <a
                class="btn btn-success"
                href="/api/appointment/list"
              >Aceptar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white card-color mb-3">
          <div class="card-body text-center">
            <h3>Actualizar cita</h3>
            <div class="col-12 text-center">
              <a
                class="btn btn-success"
                href="/api/appointment/update"
              >Aceptar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>